<p>header works!</p>
<header>
  <img
    src="assets/img/maylla.jpg"
    alt="Maylla Krislainy - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Maylla Krislainy</h1>
</header>

<aside>
  <div class="container">
    <p>Jr Software Developer | Angular | NodeJs | Python</p>
    <p>Brasília, DF, Brasil</p>
    <p>
      Estudante de Ciência da Computação altamente motivado e entusiasta da área
      de TI. Buscando aprimorar as habilidades em programação no Frontend /
      Backend.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/maylla-krislainy/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5561xxxxxxxxx&text=Ol%C3%A1%20May,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (61) x xxxx-xxxx</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:mayllak@hotmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>mayllak&#64;hotmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
