:root {
  --primary: #faa6a6;
  --primary-010: #f99090;

  --secondary: #06628a;
  --secondary-010: #06374e;

  --white: #fff;

  --grey: #9b9ba0;

  --black: #10101a;
  --black-010: #2a2a30;

  --red: #f54747;
  --red-010: #f42f2f;
}
